<!-- Creator: Sergio Andrés Álvarez Medina -->
<!-- Creation Date: 02-04-2019 -->

<html>
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>fsociety</title>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" type="text/css" media="screen" href="../style.css">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
				<script src="../main.js"></script>
		</head>

	<body>
	
	<!-- AQUI HAY UN PSEUDO FORMULARIO PARA SABER DE DONDE CARGAR LOS DATOS  -->
	<div class="container">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<img src="../../img/fsociety400x400.png" weight="60" height="60" class="d-inline-block align-top" alt="">
					<a class="navbar-brand" href="../main.html">
							fsociety
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarNavDropdown">
							<ul class="navbar-nav ml-auto">
									<li class="nav-item">
											<a class="nav-link" href="../main.html">Inicio</a>
									</li>
									<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Secciones
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="../secciones/ver-secciones.html">Ver todas</a>
											<a class="dropdown-item" href="../secciones/admin-secciones.html">Administrar</a>
											</div>
									</li>
									<li class="nav-item dropdown active">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Alumnos
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="../alumnos/ver-alumnos.html">Ver todos</a>
											<a class="dropdown-item" href="../alumnos/resumen-alumnos.html">Ver resumen<span class="sr-only">(current)</span></a>
											</div>
									</li>
									<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Grupos
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="../grupos/ver-grupos.html">Ver todos</a>
											<a class="dropdown-item" href="../grupos/admin-grupos.html">Administrar</a>
											</div>
									</li>
									<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Evaluadores
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="../evaluadores/ver-evaluadores.html">Ver todos</a>
											<a class="dropdown-item" href="../evaluadores/admin-evaluadores.html">Administrar</a>
											</div>
									</li>
									<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Rúbricas
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="../rubricas/ver-rubricas.html">Ver todas</a>
											<a class="dropdown-item" href="../rubricas/admin-rubricas.html">Administrar</a>
											</div>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="../instancias/instancias.html">Instancias</a>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="../evaluar/evaluar.html">Evaluar</a>
									</li>
							</ul>
					</div>
			</nav>

			<br>
		
		<form>
			<div class="form-group">
			
			  <!--PARA SELECCIONAR AÑO-->
			  <label for="sel1">Seleccione año:</label>
			  <select class="form-control" id="año">
				<option>2017</option>
				<option>2018</option>
				<option selected>2019</option>
				<option>2020</option>
			  </select>
			  
			  <!--PARA SELECCIONAR SEMESTRE-->
			  <label for="sel1">Seleccione semestre:</label>
			  <select class="form-control" id="semestre">
				<option selected>Primavera</option>
				<option>Otoño</option>
				</select>
				
				<label for="sel1">Seleccione código:</label>
			  <select class="form-control" id="codigo">
				<option selected>CC4401</option>
				<option>CC4201</option>
				<option>CC4100</option>
			  </select>
			  
			  <!--PARA SELECCIONAR SECCION-->
			  <label for="sel1">Seleccione sección:</label>
			  <select class="form-control" id="seccion">
				<option selected>1</option>
				<option>2</option>
				</select>
			  
			</div>
		 </form>
		
		
		<div class="container" style="display:flex">

			<button type="button" class= "btn btn-primary">Cargar Información</button>
				
			<div class="container" style="display:flex">
				<label for="sel1">Ordenar por:&emsp; &emsp;</label>
				<select class="form-control" id="ordenar">
					<option selected>Nombre</option>
					<option>Apellido</option>
					<option>Grupo</option>
					<option>Presento</option>
				</select>
			</div>

		</div>
			 
	</div>
	
	<br>
	<br>
	
	<!-- AQUI COMIENZA LA TABLA PRINCIPAL QUE ALMACENARA LA INFORMACION DE LOS ALUMNOS -->
	
	<div class="container table-responsive">
	  <table class="table table-bordered table-hover">
		
		<tr>
		  <th class = "centerTextTable">Nombres</th>
		  <th class = "centerTextTable">Apellidos</th>
		  <th class = "centerTextTable">Grupo </th>
		  <th class = "centerTextTable">Presentó</th>
		  <th class = "centerTextTable">Acciones</th>
		</tr>
		
		<tr>
		  <td>Ignacio Andrés</td>
		  <td>Caro Ahumada</td>
		  <td class = "centerTextTable">11</td>
		  <td class = "centerTextTable">No</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>Sebastían Esteban</td>
		  <td>Urrutia Cifuentes</td>
		  <td class = "centerTextTable">11</td>
		  <td class = "centerTextTable">Sí</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>Félix Alonso</td>
		  <td>Cerda Riquelme</td>
		  <td class = "centerTextTable">11</td>
		  <td class = "centerTextTable">Sí</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>Ricardo Orlando</td>
		  <td>Chaperon Burgos</td>
		  <td class = "centerTextTable">9</td>
		  <td class = "centerTextTable">No</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>Sofía Macarena</td>
		  <td>Paredes Fuentes</td>
		  <td class = "centerTextTable">9</td>
		  <td class = "centerTextTable">Sí</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>José Ignacio</td>
		  <td>Días rivera</td>
		  <td class = "centerTextTable">9</td>
		  <td class = "centerTextTable">No</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr>
		  <td>Joaquín Alberto</td>
		  <td>Barrientos Osorio</td>
		  <td class = "centerTextTable">5</td>
		  <td class = "centerTextTable">No</td>
		  <td class = "centerTextTable"><i class="fas fa-pen"></i> &emsp; &emsp;<i class="fas fa-trash"></i></td>
		</tr>
		
		<tr >
		  <td></td>
		  <td></td>
		  <td class = "centerTextTable"></td>
		  <td class = "centerTextTable"></td>
		  <td class = "centerTextTable"><i class="fas fa-plus-circle"></i></td>
		</tr>
		
	  </table>
	</div>

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</body>
</html>