html { 
    background: url(../../IMG/woods.jpg) no-repeat center fixed; 
    background-size: cover;
  }

.btn {
    margin-bottom: 10px;
}

.central-container-transparent {
    background-color:transparent;
    padding: 0.7%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left:3%;
}