html { 
    background: url(../img/woods.jpg) no-repeat center fixed; 
    background-size: cover;
  }

  
  .btn-label {
    position: left;
    /* left: -22px; */
    display: inline-block;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.central-container-transparent {
    background-color:transparent;
    padding: 0.7%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left:3%;
}

